<%- include("partial/headAddAnnotations.ejs") %>

<body>
  <form action="/send" method="post">
    <label for=""></label>
    <input type="text" name="inputText" required />
    <button type="submit">Enviar</button>
  </form>
</body>
