<%- include('partial/headEdditAnnotations.ejs') %>
<body>
  <form action="/attAnotation" method="put" name="send">
    <input type="text" class="form__field" placeholder="type here" />
    <input type="button" class="btnSend" value="Send" />
  </form>
</body>
