<%- include('partial/headLoginAndSignUp.ejs') %>

<body>
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true" />

    <div class="signup">
      <form action="/signup" method="post">
        <label for="chk" aria-hidden="true">Sign up</label>
        <input type="text" name="txt" placeholder="User name" required="" />
        <input type="email" name="email" placeholder="Email" required="" />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required=""
        />
        <input type="submit" value="sign up" />
      </form>
    </div>

    <div class="login">
      <form action="/login" method="post">
        <label for="chk" aria-hidden="true">Login</label>
        <input type="email" name="email" placeholder="Email" required="" />
        <input type="password" name="pswd" placeholder="Password" required="" />
        <input type="submit" value="login" />
      </form>
    </div>
  </div>
</body>
